.auth-full {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background: #e6e6e6;
}

.auth-con {
    border-radius: 6px;
    min-height: 90vh;
    margin-top: 5vh;
}

.actual-form-card {
    height: 85vh;
    background: white;
    border-radius: 5px;
}

.other-card {
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url('/assets/img/hero-bg.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

form {
    font-size: 12px;
}
label {
    color: grey;
    text-transform: capitalize;
}
input {
    border: none !important;
    border-bottom: 1px solid black !important;
    border-radius: 0px !important;
    font-size: 12px !important;
}
input:focus, input:active {
    outline: none !important;
    box-shadow: none !important;
}
.other-card h4 {
    color: white;
}
.other-card p {
    color: white;
    font-size: 10px;
}
.other-card div {
    position: relative;
    /* bottom: 30px; */
}
textarea {
    border: 2px solid black;
    font-weight: bold;
}