/** 
*Please note that this CSS File follows mobile first design rules 
**/

// Site Wide Colors 
$bizChecker-main-color: #ec0b43;
$form-elements-background: #f2f2f2;
$bizChecker-darkgrey: #6e6d7a;

/** Form Elements Style**/

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'] {
    background-color: $form-elements-background;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 40px;
    width: 100%;
    &:focus {
        background-color: white;
        border: 1px solid blue;
    }
}

label {
    color: $bizChecker-darkgrey;
    font-weight: bold;
    line-height: 1.2em;
    font-size: 1em;
}

.bizcheck-btn {
    width: 100%;
    background-color: $bizChecker-main-color;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
}


/** Responsive Media Queries **/

@media(min-width: 768px) {}

@media(min-width: 992px) {}

@media(min-width: 1200px) {}